<div class="container row">
    <div class="btn-group-vertical col-3" role="group" aria-label="Basic example">
        <button type="button" class="btn color " routerLink="/magliette" [state]="data.magliette" routerLinkActive="active-menu">MAGLIETTE</button>
        <button type="button" class="btn color" routerLink="/scarpe" [state]="data.scarpe" routerLinkActive="active-menu">SCARPE</button>
    </div>
    <div class="col-9"> 
        <router-outlet></router-outlet>
        <footer class="bg-light text-center">ECommerce - 2023</footer>
    <div>
</div>